.BlogPage > :not(:first-child) {
	margin-top: 3rem;
}

.PostsList > :not(:first-child) {
	margin-top: 2rem;
}

.EmptyPosts {
	padding: 3rem;
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
}

.PostItem > :not(:first-child) {
	margin-top: 1rem;
}

.PostHead > :not(:first-child) {
	margin-top: 0.5rem;
}

.PostTitle {
	font-weight: bold;
	font-size: 1.8rem;
	margin: 0;
}

.PostTitle > a {
	text-decoration: none;
	color: #505050;
}

.PostInfo {
	color: gray;
	font-size: 0.9rem;
}

.PostInfo > * {
	display: inline-block;
}

.PostInfo > :not(:first-child) {
	margin-left: 1rem;
}

.PostText {
	font-size: var(--typo-content-size);
	line-height: 1.7rem;
}
