{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-no-unsupported-browser-features"
  ],
  "rules": {
    "string-quotes": "single",
    "selector-class-pattern": ".+",
    "indentation": "tab",
    "max-empty-lines": 2,
    "plugin/no-unsupported-browser-features": [
      true,
      {
        "ignore": [
          "intrinsic-width",
          "text-decoration"
        ]
      }
    ]
  },
  "ignoreFiles": [
    "**/*.ts",
    "**/*.tsx",
    "dist/**"
  ]
}
