.PostHead {
	margin-bottom: 2rem;
}

.PostHead > :not(:first-child) {
	margin-top: 0.5rem;
}

.PostTitle {
	font-weight: bold;
	font-size: 1.8rem;
	color: #505050;
	margin: 0;
}

.PostInfo {
	color: gray;
	font-size: 0.9rem;
}

.PostInfo > * {
	display: inline-block;
}

.PostInfo > :not(:first-child) {
	margin-left: 1rem;
}

.ShareBlock {
	margin-bottom: 2rem;
}

/* Hide on mobiles */
@media (max-width: 600px) {
	.ShareBlock {
		display: none;
	}
}

.PostBody {
	font-size: var(--typo-content-size);
	line-height: 1.7rem;
}

.PostBody p {
	margin: 1rem 0;
}

.PostBody img {
	display: block;
}

.PostBody :is(h1, h2, h3) {
	margin-top: 5rem;
}
