---
import { type HTMLAttributes } from 'astro/types';
import { isExternalUrl } from '../../utils/links';
type Props = HTMLAttributes<'a'>;

const { href, ...props } = Astro.props;

const rel =
	href && isExternalUrl(typeof href === 'string' ? href : href.toString())
		? 'nofollow'
		: undefined;
---

<a href={href} rel={rel} {...props}>
	<slot />
</a>
