/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--accent: #6a4c88;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow:
		0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}

@font-face {
	font-family: Roboto;
	src: url('/fonts/roboto.woff2') format('woff2');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Source Serif 4';
	src: url('/fonts/source-serif-4.woff2') format('woff2');
	font-weight: 200 900;
	font-style: normal;
	font-display: swap;
}

body {
	margin: 0;
	padding: 0;
	text-align: left;
	word-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 20px;
	background-color: #fcfcfb;
	letter-spacing: 1%;
	font-family: 'Source Serif 4', serif;
	word-break: keep-all;
	overflow-wrap: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem;
	color: rgb(var(--black));
	line-height: 1.2;
}

h1 {
	font-size: 2.3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.953em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child) {
	margin-top: 3rem;
}

strong,
b {
	font-weight: 700;
}

a {
	color: #5d3822;

	&:hover,
	&:focus {
		color: #973b0f;
	}
}

a[href]:hover,
a[href]:focus {
	text-decoration: underline solid;
}

a[href]:focus-visible {
	outline: 2px solid;
	outline-offset: 3px;
}

p {
	margin-bottom: 1em;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
	display: inline-block;
	background: #f7f7f7;
}

code {
	padding: 1px 6px;
	font-size: 0.8em;
	font-weight: 500;
	border-radius: 4px;
	color: #973b0f;
	background: #f3f3f3;
	border: 1px solid #d6d6d6;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}

pre > code {
	all: unset;
}

blockquote {
	border-left: 4px solid #5d3822;
	padding: 0 0 0 20px;
	margin: 0;
	font-size: 1.1em;
}

hr {
	display: block;
	border: none;
	border-top: 1px solid #d5d5d5;
	width: 100%;
}

ul {
	padding-left: 1.5rem;
}

figure {
	margin: 0;
	position: relative;

	& > p {
		margin: 0;
		display: flex;
	}

	& > figcaption {
		position: absolute;
		bottom: 0;
		background: #ffffffd9;
		padding: 0.2rem;
		font-size: 0.8em;
	}
}

.prose p {
	margin-bottom: 2em;
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
}

.astro-code.github-light-high-contrast {
	font-size: 14px;
	border: 1px solid #dfdfdf;
}

.astro-code {
	tab-size: 2;
}
