body {
	--typo-content-size: 20px;

	margin: 0;
	/* stylelint-disable-next-line declaration-colon-newline-after */
	/* stylelint-disable-next-line max-line-length */
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

a {
	display: inline-block;
	color: #333;
	text-decoration: underline;
	text-decoration-color: #cbcbcb;
	text-decoration-thickness: 0.12em;
	text-underline-offset: 20%;
	text-underline-position: from-font;
	transition: text-decoration ease 200ms;
}

a:hover,
a:focus {
	text-decoration-color: #333;
}

img {
	max-width: 100%;
}

hr {
	border: 0;
	width: 40%;
	height: 2px;
	background: #dfdfdf;
}

pre code.hljs {
	background: #fafafa;
	border-radius: 6px;
}

code {
	background: #f1f1f1;
	border-radius: 6px;
	padding: 2px 5px;
	tab-size: 2em;
}

blockquote {
	background: #f5f6ff;
	padding: 1rem;
	margin: 0;
	border-radius: 6px;
}
