.List {
	margin-top: 1rem;
	padding-left: 1.5rem;
}

/* Disable top indent for nested lists */
.List .List {
	margin-top: 0;
}

/* Indents for list item */
.List-Item:not(:last-child) {
	margin-bottom: 0.2rem;
}

/* Bottom indent for list item that contains a list, to keep closeness rule */
.List ~ .List-ItemBottomIndent {
	margin-bottom: 1.5rem;
}
