/* TODO: use custom font family */
body {
  margin: 0;
  font-family: Arial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  display: inline-block;
}

img {
  max-width: 100%;
}
