/* TODO: use custom font family */
body {
  margin: 0;
  font-family: Arial;
}

a {
  display: inline-block;
  color: #333;
  text-decoration: underline;
  text-decoration-color: #cbcbcb;
  text-decoration-thickness: 0.12em;
  text-underline-offset: 25%;
  transition: text-decoration ease 200ms;
}
a:hover,
a:focus {
  text-decoration-color: #333;
}

img {
  max-width: 100%;
}

hr {
  border: 0;
  width: 40%;
  height: 2px;
  background: #dfdfdf;
}

pre code.hljs {
  /* font-size: 1rem; */
  background: #fafafa;
  border-radius: 6px;
}

code {
  background: #f1f1f1;
  border-radius: 6px;
  padding: 2px 5px;
}

blockquote {
  background: #fafafa;
  padding: 1rem;
  margin: 0;
  border-radius: 6px;
}
